/*==========================================================================
#title            : SILVER ACT'S WEBSITE
#description      : Silver Act Contact Page
#author           : Brieuc CAILLOT, Eva PAMFIL, Anthony DUPRÉ
#date             : 2017 02 19
#version          : V2
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

/* POLICES */

@font-face {
    font-family: Gotham-Light;
    src: url(../polices/Gotham/Gotham-Light.otf),
    url("../polices/Gotham/Gotham-Light.eot") format("eot"),
    url("../polices/Gotham/Gotham-Light.woff") format("woff"),
    url("../polices/Gotham/Gotham-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url(../polices/Gotham/Gotham-Medium.otf),
    url("../polices/Gotham/Gotham-Medium.eot") format("eot"),
    url("../polices/Gotham/Gotham-Medium.woff") format("woff"),
    url("../polices/Gotham/Gotham-Medium.ttf") format("truetype");
}

/* FIRSTBLOCK - HEADER */

#firstblock {
    height: 100%;
}

header{
    width: 75%;
    height: 95px;
    position: relative;
    background-color: white;
    padding: 10px 0 10px 0;
    margin: 0 auto;;
} 

#content {
    width: 75%;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
}

#logo {
    float: left;
    width: 15%;
    height: 95px;
    position: relative;
}


#logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%); */
    transform: translateX(-50%) translateY(-50%);
    width: 70%;


}

#menu {
    width: 70%; 
    height: 100%; 
    position: absolute;

    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); 

}
/* NAV MENU */



#navigation {
    width: 100%; 
    position: absolute; 
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#navigation nav {
    position: relative;
}

#navigation ul li {
    display: table-cell; 
    list-style: none; 
    height: 100%;
    width: 1%;
}

#navigation ul li a {
    color: #148fad;
    text-decoration: none;
    font-family: "Gotham-Light", sans-serif;
    text-align: center;
    display: block;
    padding-top: 23px; 
    padding-bottom: 23px; 
    font-size: 14px;
}

#navigation ul li a:focus {
    font-family: "Gotham-light", sans-serif;
}

#navigation ul li a:hover {
    color: white; 
}

#navigation ul li:last-child a {
  background-color : #148fad;
  font-family : Gotham-Medium;
  color : #fff;
}

/* SWIPER TON RIGHT li */

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #148fad;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* RESEAUX SOCIAUX */

#head-contact {
    float: right;
    width: 15%;
    height: 100%;
    position: relative; 
}

#img-head {
    width: 90%;
    height: auto;
    margin: 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#img-head img {
    width: 100%;
}

#img-head>a {
    margin-right: 13%; 
}

/* CONTENT1*/


#content1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

h2{
    color: #148fad;
    font-family: Gotham-Light, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: normal;
}
h1{
    color: #148fad;
    font-family: Gotham-Light, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: normal;
}

#card-form{
    width: 1100px;
    height: 530px;
    border: solid 2px #e6e6e6;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 20px #e6e6e6;
}

#card-form img{
    float: left;
    height: 530px;
    width: auto;
}

#card-form h3{
    color: #148fad;
    font-family: Gotham-Light, sans-serif;
    font-weight: normal;
    font-size: 30px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#card-form form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 25px;
    float: left;
}
 
#input-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}


.input-base{
   width: 410px;
    height: 30px;
    border-bottom: solid 1.5px #e6e6e6;
    border-top: 0px;
	border-left: 0px;
	border-right: 0px;
    margin-top: 10px;
    font-family: gotham-light;
    
    
}
.name-input {
    width: 192px;
    height: 30px;
    border-bottom: solid 1.5px #e6e6e6;
    border-top: 0px;
	border-left: 0px;
	border-right: 0px;
    margin-right: 25px;
    font-family: gotham-light;
     margin-top: 10px;
   
   
}
#card-form form select{
   width: 425px;
    height: 35px;
    border-bottom: solid 1.5px #e6e6e6;
    border-top: 0px;
	border-left: 0px;
	border-right: 0px;
    font-family: gotham-light;
    color: #044759;
     margin-top: 10px;
}
#card-form form textarea{
   width: 410px;
    border: solid 1.5px #e6e6e6;
   
    margin-top: 15px;
    font-family: gotham-light;
    height: 100px;
    overflow-y: scroll;
    resize: none;
    padding-top: 5px;
    padding-left: 10px;
}
::-webkit-input-placeholder {
   color: #044759;
    
}

:-moz-placeholder { /* Firefox 18- */
   color: #044759; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #044759; 
}

:-ms-input-placeholder {  
   color: #044759;  
}


/*BOUTTON*/

.button-orange{
    width: 180px;
    height: 25px;
    margin: 50px auto;
    margin-top: -0.1px;
    padding-left: 10px;
}
 .button-more{
    display: inline;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
    width: 180px; 
    height: 25px; 
}
        
.text-more1 {
    display: inline;
    font-size: 17px;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
    background-color: white;
    margin-left: 35px;
}
        
#button-go{
    height: auto;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#text-button-go{
    margin-left: 35px;
    
}


 #fleche-left {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
 #fleche-left img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}

        
#fleche-left:hover {
    -webkit-animation: width-new1 0.5s forwards ease;
    animation: width-new1 0.5s ease forwards;
}
        

        


/*CONTENT2*/

#content2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.small-carte-contact{
    height: 550px;
    width: 450px;
    border: solid 1.5px #e6e6e6;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #e6e6e6;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
#card-email{
    margin-left: 100px;
}
#card-phone{
    margin-right: 100px;
}
#card-phone img{
    width: 450px;
    height: auto;
    border-radius: 10px 10px 0px 0px ;
}
#card-email img{
    width: 450px;
    height: auto;
    border-radius: 10px 10px 0px 0px ;
}
#card-phone span{
    font-size: 25px;
    font-family: Gotham-Light, sans-serif;
    text-align: center;
    display: block;
    color: #148fad;
    margin-top: 15px;
}
#text-call{
    font-family: Quicksand;
    text-align: center;
    display: block;
    margin-top: 20px;
    line-height: normal;
    color: #044759;
   
}

/*BUTTON*/

#fleche-left-call {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
 #fleche-left-call img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}

        
#fleche-left-call:hover {
    -webkit-animation: width-new1 0.5s forwards ease;
    animation: width-new1 0.5s ease forwards;
}
#button-call{
    height: auto;
    margin-top: 30px;
    margin-left: 50px;
}
#text-button-call{
    margin-left: 35px;
    
}
#div-button-call a {
    text-decoration: none;
}

/*CARD EMAIL */
#card-email span{
    font-size: 25px;
    font-family: Gotham-Light, sans-serif;
    text-align: center;
    display: block;
    color: #148fad;
    margin-top: 15px;
}
#input-mail{
    width: 350px;
    padding-left: 10px;
    margin-left: 40px;
}
#card-email textarea{
   width: 350px;
    border: solid 1.5px #e6e6e6;
    margin-top: 15px;
    font-family: gotham-light;
    height: 100px;
    overflow-y: scroll;
    resize: none;
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 40px;
}
/*BUTTON*/
#fleche-left-email {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
 #fleche-left-email img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}

        
#fleche-left-email:hover {
    -webkit-animation: width-new1 0.5s forwards ease;
    animation: width-new1 0.5s ease forwards;
}
#button-email{
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}
#text-button-email{
    margin-left: 35px;
    
}
#div-button-email a {
    text-decoration: none;
}

/* CONTENT3*/

#content3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.interlocutor{
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.name-interlocutor{
    font-size: 25px;
    font-family: Gotham-Light, sans-serif;
    text-align: center;
    color: #148fad;
    margin-top: 30px;
    margin-bottom: 20px;
}
.text-interlocutor{
    color: #ef7915;
    font-family: Gotham-light;
    font-style: italic;
    line-height: 22px;
}

/* FOURTHBLOCK - FOOTER */

footer {
    width: 100%; 
    height: 250px;
    background-color: #efe6dc;
    margin-top: 50px;
}

footer p {
    color: #148fad;
    font-family: 'Quicksand', sans-serif;
}

footer a {
    font-family: 'Quicksand', sans-serif;
    color: #148fad;
}

#left-block{
    width: 50%; 
    height: 100%;
    float: left; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

.section{
    width: 33%; 
    height: auto; 
}

#deduction {
    text-align: center;
    height: 80%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%);
    top: 50%;
    position: relative;
    border-right: 1px solid #044779;
}

.textfooter {
    top: 50%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%); 
    position: relative; 
}

#deduction a{
    font-size: 14px; 
}

#deduction p{
    margin-bottom: 12px; 
    color: #ef7915;
}

#contact {
    text-align: center;
    border-right: 1px solid #044779;
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#contact h2 {
    font-family: Gotham-Light;
    color: #ef7915;
    margin-bottom: 18px;
    margin-top: 0;;
}

#contact p {
    margin-bottom: 13px; 
}

#contact ul li {
    list-style: none; 
}

#contact ul li:last-child {
    margin-top: 10px;
}

#contact ul li img {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
}

#phone {
    width: 15px; 
}


#mail {
    width: 20px; 

}

#contact ul li a {
    text-decoration: none; 
    margin-left: 8px; 
}

#social {
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}

#social p {
    margin-bottom: 15px;
}

#social img {
    height: 33px;
    padding: 10px;
}

#right-block{
    width: 50%; 
    height: 100%; 
    float: right;
}

/* KEYFRAMES*/

@-webkit-keyframes width-new1 {
    from {width: 25px;}
    to {width: 120px;}
}