/*==========================================================================
#title            : SILVER ACT'S WEBSITE
#description      : Silver Act Évenements Page
#author           : Brieuc CAILLOT, Eva PAMFIL, Anthony DUPRÉ
#date             : 2017 02 19
#version          : V2
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/
 
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

/* POLICES */

/* GOTHAM */

@font-face {
    font-family: "Gotham-Light";
    src: url(../polices/Gotham/Gotham-Light.otf),
    url("../polices/Gotham/Gotham-Light.eot") format("eot"),
    url("../polices/Gotham/Gotham-Light.woff") format("woff"),
    url("../polices/Gotham/Gotham-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url(../polices/Gotham/Gotham-Medium.otf),
    url("../polices/Gotham/Gotham-Medium.eot") format("eot"),
    url("../polices/Gotham/Gotham-Medium.woff") format("woff"),
    url("../polices/Gotham/Gotham-Medium.ttf") format("truetype");
}

/* FIRSTBLOCK */


/* FIRSTBLOCK - HEADER */

#firstblock {
    height: 100%;
}

header{
    width: 100%;
    height: 95px;
    position: relative;
    background-color: white;
    padding: 10px 0 10px 0;
} 

#content {
    width: 75%;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
}

#logo {
    float: left;
    width: 15%;
    height: 95px;
    position: relative;
}


#logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%); */
    transform: translateX(-50%) translateY(-50%);
    width: 70%;


}

#menu {
    width: 70%; 
    height: 100%; 
    position: absolute;

    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); 

}
/* NAV MENU */



#navigation {
    width: 100%; 
    position: absolute; 
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#navigation nav {
    position: relative;
}

#navigation ul li {
    display: table-cell; 
    list-style: none; 
    height: 100%;
    width: 1%;
}

#navigation ul li a {
    color: #148fad;
    text-decoration: none;
    font-family: "Gotham-Light", sans-serif;
    text-align: center;
    display: block;
    padding-top: 23px; 
    padding-bottom: 23px; 
    font-size: 14px;
}

#navigation ul li a:focus {
    font-family: "Gotham-light", sans-serif;
}

#navigation ul li a:hover {
    color: white; 
}

#navigation ul li:nth-child(3) a {
  background-color : #148fad;
  font-family : Gotham-Medium;
  color : #fff;
}

/* SWIPER TON RIGHT li */

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #148fad;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* RESEAUX SOCIAUX */

#head-contact {
    float: right;
    width: 15%;
    height: 100%;
    position: relative; 
}

#img-head {
    width: 90%;
    height: auto;
    margin: 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#img-head img {
    width: 100%;
}

#img-head>a {
    margin-right: 13%; 
}

/* SECOND BLOCK */

#content{
    width: 75%;
    height: auto;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

#secondblock {
    position: relative;
    height: 62em;
    width: 100%;
}

/* SECONDBLOCK LEFT */

#left {
    width: 40%;
    float: left;
    height: 27em;
    margin-left: 10%;;
}

#left h1 {
    font-family: "Gotham-Light", sans-serif;
    color: #148fad;
    font-size: 35px;
    padding-top: 118px;
    /* position: absolute; */
    /* top: 13%; */
    /* left: 40%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */;
}

#left p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    width: 75%;
    color: #044759;
    padding-top: 50px;
}

#secondblock #trait {
    position: absolute;
    left: 40px;
    border-right: 2px solid #ef7915;
    width: 19px;
    height: 110%;
}

/* SECONDBLOCK RIGHT */

.description {
    line-height: 22px;
    font-family: "Roboto", sans-serif;
    padding-top: 2%;
    font-size: 16px;
    color: #044759;
}

#secondblock #right {
    width: 52%;
    position: relative;
    float: right;
    margin-top: 0%;
}

.rightransition {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
    
#secondblock #right h2 {
    font-family: "Gotham-Light", sans-serif;
    color: #148fad;
    font-size: 20px;
    line-height: 31px;
}

#secondblock #right .description p {
    line-height: 21px;
    font-family: "Roboto", sans-serif;
    padding-top: 2%;
    font-size: 15px;
    color: #044759;
}

/* BULLES ÉVÉNEMENTS */

#secondblock #right #bulles {
    font-family: "Gotham-Thin", sans-serif;
    text-align: center;
    font-size: 30px;
    color: #ef790f;
    float: left;;
    height: inherit;
    position: relative;
    margin-top: 174px;;;
}

#secondblock #right #bulles1 {
    border: 2px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 2;
}

#secondblock #right #bulles2 {
    border: 2px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 2;
    position: absolute;
    top: 286px;

}

#secondblock #right #bulles3 {
    border: 2px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 565px;
    z-index: 2;
}

#secondblock #right #bulles4 {
    border: 2px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 840px;
    z-index: 2;
}

/*#secondblock #right #bulles5 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 157%;
    z-index: 2;
}*/

#secondblock #right #bulles li span {
    font-family: gotham-light;
    text-align: center;
    position: absolute;
    top: 50%;;
    left: 50%;;
    -webkit-transform: translate(-50%, -50%);;
            transform: translate(-50%, -50%);
}

#secondblock #right #premier {
    padding: 19% 3% 0% 30%;

}

#secondblock #right #deuxieme{
    padding: 11% 5% 0% 30%;
}

#secondblock #right #troisieme{
    padding: 11% 5% 0% 30%;
}

#secondblock #right #quatrieme {
    padding: 11% 5% 0% 30%;
}

#secondblock #right #cinquieme {
    padding: 11% 5% 0% 30%;
}

/* CONTACTEZ NOUS */

.boutton{
   font-family: Gotham-light, sans-serif;
   width: 180px;
   height: 31px;
   margin: 16px 0px auto;
}

.boutton-plus{
   display: inline;
   text-align: center;
   color: #ef7915 ;
   width: 180px;
   height: 25px;
   text-decoration: none;
}
       
.texte-plus1 {
   display: inline;
   font-size: 17px;
   text-align: center;
   color: #ef7915;
   margin-left: 35px;
}
       
.fleche-left {
   position: relative;
   height: 25px;
   width: 25px;
   border: solid 2px #ef7915 ;
   border-radius: 25px;
   margin-bottom: -25px;
   margin-top: 5px;
}
       
.fleche-left:hover {
   -webkit-animation: width 0.5s forwards ease;
   animation: width 0.5s ease forwards;
}
       
@-webkit-keyframes width {
   from {width: 25px;}
   to {width: 180px;}
}

.fleche-left img {
   position: absolute;
   height: 12px;
   width: auto;
   top : 50%;
   left : 12px;
   margin-top : -6px;
   margin-left : -3px;
}

/* FOURTHBLOCK - FOOTER */

footer {
    position: absolute;
    top: 1258px;
    width: 100%; 
    height: 250px;
    background-color: #efe6dc;
}

footer p {
    color: #148fad;
    font-family: 'Quicksand', sans-serif;
}

footer a {
    font-family: 'Quicksand', sans-serif;
    color: #148fad;
}

#left-block{
    width: 50%; 
    height: 100%;
    float: left; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

.section{
    width: 33%; 
    height: auto; 
}

#deduction {
    text-align: center;
    height: 80%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%);
    top: 50%;
    position: relative;
    border-right: 1px solid #044779;
}

.text {
    top: 50%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%); 
    position: relative; 
}

#deduction a{
    font-size: 14px; 
}

#deduction p{
    margin-bottom: 12px; 
    color: #ef7915;
}

#contact {
    text-align: center;
    border-right: 1px solid #044779;
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#contact h2 {
    font-family: Gotham-Light;
    margin-bottom: 18px;
    color: #ef7915;
}

#contact p {
    margin-bottom: 13px; 
}

#contact ul li {
    list-style: none; 
}

#contact ul li:last-child {
    margin-top: 10px;
}

#contact ul li img {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
}

#phone {
    width: 15px; 
}

#mail {
    width: 20px; 
}

#contact ul li a {
    text-decoration: none; 
    margin-left: 8px; 
}

#social {
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}

#social p {
    margin-bottom: 15px;
}

#social img {
    height: 33px;
    padding: 10px;
}


#right-block{
    width: 50%; 
    height: 100%; 
    float: right;
}

