/*==========================================================================
#title            : SILVER ACT
#description      : Silver Act Website from PSD
#author           : 
#date             : 20160207
#version          : Constantly on progress
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

/* POLICES */


@font-face {
    font-family: Gotham-Light;
    src: url(../police/Gotham/Gotham-Light.otf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(../police/Gotham/Gotham-Medium.otf);
}

header,
nav,
a,
img,
li {
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
}

/* FIRSTBLOCK */


#firstblock {
    position: relative;
    height: 8em;
}

#header {
    height: 8em;
    background-color: white;
    height: 8em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 2px solid #d1d3d4;
}

#video {
    width: 100%;
    z-index: 2;
}

#logo {
    padding: 10px;
    padding-left: 3.5%;
    width: 15%;
}

#menu {
    width: 61%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #d1d3d4;
    border-bottom: none;
    border-top: none;
}

#telephone {
    font-family: 'Roboto', sans-serif;
    width: 2em;
    padding: 1em;
}

#telephone p {
    font-family: Roboto-Bold;
    float: left;
    color: #ef7915;
    font-size: 18px;
    width: 7em;
    position: absolute;
    top: 1.3em;
    left: 3.3em;
}

#mail p {
    font-family: Roboto-Bold;
    color: #ef7915;
    font-size: 18px;
    width: 8em;
    position: absolute;
    top: 0.4em;
    right: 0em;;
}

#mail {
    font-family: 'Roboto', sans-serif;
    float: right;
    width: 11.7em;
    position: absolute;
    right: 1%;
    top: 10%;
    height: 2em;
}

#mail img {
    width: 2em;
}

/* NAV MENU */


#navigation {
    transform: translate(-50%, -50%);
    width: 100.3%;;;
    height: 48%;
    left: 50%;
    position: absolute;
    top: 75%;
    border-top: 2px solid #d1d3d4;;
}

#navigation nav {
    position: relative;
}

#navigation ul {
    color: #148fad;
    font-family: Gotham-Medium;
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
}


#navigation nav {
    position: relative;
}


#navigation ul {
    color: #148fad;
    font-family: Gotham-Medium;
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    height: 101%;
    width: 100%;
}

#navigation ul li {
    position: relative;
    height: 100%;
    display: inline-block;
    font-size: 18px;
}

/* SWIPER TON RIGHT */

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*ACCUEIL*/

#navigation ul li:nth-child(1) {
    width: 16.5%;
    border-right: 2px solid #d1d3d4;
}

#navigation ul li:nth-child(1) a{
    text-decoration: none;
    color: #148fad;
    position: absolute;
    top: 35%;
    left: 21%; 
}

/* ACTIVITÉ */

#navigation ul li:nth-child(2) {
    width: 16%;
    text-decoration: none;
    color: #148fad;
    border-right: 2px solid #d1d3d4;
}

#navigation ul li:nth-child(2) a {
    text-decoration: none;
    color: #148fad;
    position: absolute;
    top: 35%;
    left: 15%; 
}

/* ÉVÉNEMENTS */

#navigation ul li:nth-child(3) {
    width: 23%;  
    border-right: 2px solid #d1d3d4;
    text-decoration: none;
    color: #148fad;
}

#navigation ul li:nth-child(3) a {
    text-decoration: none;
    color: #148fad;
    position: absolute;
    top: 35%;
    left: 17%; 
}

/* FONCTIONNEMENT */

#navigation ul li:nth-child(4) {
    width: 25%;  
    border-right: 2px solid #d1d3d4;
    text-decoration: none;
    color: #148fad;
}

#navigation ul li:nth-child(4) a {
    text-decoration: none;
    color: #148fad;
    position: absolute;
    top: 35%;
    left: 7%; 
}

/* CONTACT */

#navigation ul li:nth-child(5) {
    width: 15%;  
    text-decoration: none;
    color: #148fad;
}

#navigation ul li:nth-child(5) a {
    text-decoration: none;
    color: #148fad;
    position: absolute;
    top: 35%;
    left: 17%; 
}

/* RESEAUX SOCIAUX */

#social {
    width: 19.5%;
    height: 99.8%;
    position: absolute;
    top: -1%;
    right: 0%;
}

#facebook {
    position: absolute;
    top: 2em;
    right: 55%;
    width: 23%;
}

#twitter {
    float: right;
    position: absolute;
    top: 2em;
    right: 3.5em;
    width: 23%;
}

/* SECOND BLOCK */

#secondblock {
    position: relative;
    height: 63em;
}

#secondblock #left {
    width: 46%;
    height: inherit;
    position: relative;
    float: left;
}

#secondblock #left h1 {
    font-family: Gotham-Medium;
    color: #148fad;
    font-size: 47px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
}

#secondblock #left p {
    font-size: 20px;
    font-family: Roboto;
    line-height: 23px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;;
}

#secondblock #right {
    width: inherit;
    height: 100%;
    border-left: 4px solid #ef790f;
    position: relative;
    margin: 0% 0% 0% 5.3%;
    float: left;
}
    
#secondblock #right h2 {
    font-family: Gotham-Medium;
    color: #148fad;
    font-size: 27px;
    line-height: 31px;
}

#secondblock #right p {
    line-height: 21px;
    font-family: Roboto;
    padding-top: 2%;
    font-size: 15px;
}

#bulles {
    font-family: Gotham-Bold;
    text-align: center;
    font-size: 30px;
    color: #ef790f;
    float: left;;
    width: 3%;
    height: inherit;
    position: relative;;
}

#bulles1 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 20%;
    left: 280%;
    z-index: 2;
}

#bulles2 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 39%;
    left: 280%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#bulles3 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 57%;
    left: 280%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#bulles4 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 75%;
    left: 280%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#bulles li span {
    text-align: center;;
    position: absolute;;
    top: 50%;;
    left: 50%;;
    transform: translate(-50%, -50%);
}

#secondblock #right #premier {
    padding-left: 5em;
    padding-top: 7em;
}

#secondblock #right #deuxieme{
    padding-top: 3em;
    padding-left: 5em;
}

#secondblock #right #troisieme{
    padding-top: 3em;
    padding-left: 5em;
}

#secondblock #right #quatrieme {
    padding-top: 3em;
    padding-left: 5em;
}