/*==========================================================================
#title            : SILVER ACT'S WEBSITE
#description      : Silver Act Évenements Page
#author           : Brieuc CAILLOT, Eva PAMFIL, Anthony DUPRÉ
#date             : 2017 02 19
#version          : V2
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/
 
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

/* POLICES */

/* GOTHAM */

@font-face {
    font-family: Gotham-Light;
    src: url(../polices/Gotham/Gotham-Light.otf),
    url("../polices/Gotham/Gotham-Light.eot") format("eot"),
    url("../polices/Gotham/Gotham-Light.woff") format("woff"),
    url("../polices/Gotham/Gotham-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url(../polices/Gotham/Gotham-Medium.otf),
    url("../polices/Gotham/Gotham-Medium.eot") format("eot"),
    url("../polices/Gotham/Gotham-Medium.woff") format("woff"),
    url("../polices/Gotham/Gotham-Medium.ttf") format("truetype");
}

/* ROBOTO */

@font-face {
    font-family: "Roboto-Bold";
    src: url(../polices/Roboto/Roboto-Bold.otf),
    url("../polices/Roboto/Roboto-Bold.eot") format("eot"),
    url("../polices/Roboto/Roboto-Bold.woff") format("woff"),
    url("../polices/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* FIRSTBLOCK */


#firstblock {
    position: relative;
    height: 8em;
}

header {
    width: 100%; 
    height: 126px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative; 
    top: 0px;
    z-index: 90;
    border-bottom: 2px solid rgb(209, 211, 212);
} 

#logo {
    float: left; 
    width: 15%; 
    height: 126px; 
    position: relative; 
}

#logo img {
    position: absolute;
    top: 50%; 
    left: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%); 
            transform: translateX(-50%) translateY(-50%); 
    width: 65%; 
}

#menu {
    width: 70%; 
    height: 100%; 
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); 
}

#telephone {
    font-family: 'Roboto', sans-serif;
    width: 2em;
    padding: 1em;
}

#telephone p {
    font-family: Roboto-Bold;
    float: left;
    color: #ef7915;
    font-size: 18px;
    width: 7em;
    position: absolute;
    top: 1.3em;
    left: 3.3em;
}

#mail {
    float: right;
    width: 11.7em;
    position: absolute;
    right: 1%;
    top: 10%;
    height: 2em;
}

#mail p {
    font-family: Roboto-Bold;
    color: #ef7915;
    font-size: 18px;
    width: 8em;
    position: absolute;
    top: 0.4em;
    right: 0em;;
}

#mail img {
    width: 2em;
}

/* NAV MENU */


#navigation {
    bottom: 0px;
    width: 100%;
    height: 49%; 
}

#navigation nav {
    position: relative;
}

#navigation ul li {
    display: table-cell; 
    list-style: none; 
    height: 100%;
    width: 1%;
    position: relative; 
    margin-left: -2px;
    box-sizing: border-box;
}

#navigation ul li:first-child {
    margin: 0px; 
}

#navigation ul li:nth-child(3) {
    Background-color: #148fad;
}

#navigation ul li:nth-child(3) a {
    font-family: Gotham-Bold;
    color: #fff;
}

#navigation ul li a {
    text-decoration: none;
    font-family: Gotham-Light;
    position: relative;
    text-align: center;
    display: block;
    padding: 22px;
    color: #148fad; 
}

#navigation ul li a:focus {
    font-family: Gotham-Medium;
}

#navigation ul li a:hover {
    color: white; 
}

/* SWIPER TON RIGHT li */

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #148fad;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* RESEAUX SOCIAUX */

#social {
    float: right; 
    width: 15%; 
    height: 127px; 
    position: relative;

}

#img-social {
    width: 50%; 
    height: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%); 
            transform: translateX(-50%) translateY(-50%); 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

#img-social img {
    width: 100%;
}

#img-social>a:first-child {
    margin-right: 12%; 
}

/* SECOND BLOCK */

#content{
    width: 1200px;
    height: auto;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

#secondblock {
    position: relative;
    height: 62em;
    width: 100%;
}

#secondblock #left {
    width: 49%;
    height: inherit;
    position: relative;
    float: left;
}

#secondblock #left h1 {
    font-family: Gotham-Medium;
    color: #148fad;
    font-size: 47px;
    position: absolute;
    top: 32%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
}

#secondblock #left p {
    font-size: 22px;
    font-family: Roboto;
    line-height: 27px;
    position: absolute;
    top: 51%;
    left: 38%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 75%;
    color: #044759;
}

#secondblock #trait {
    height: 110%;
    position: absolute;
    left: 53%;
    border-right: 3px solid #ef7915;
    width: 13px;
}

#secondblock #right {
    width: 50%;
    height: 85%;
    position: relative;
    float: left;
    overflow-y: scroll;
    margin-top: 7em;
}
    
#secondblock #right h2 {
    font-family: Gotham-Medium;
    color: #148fad;
    font-size: 27px;
    line-height: 31px;
}

#secondblock #right p {
    line-height: 21px;
    font-family: Roboto;
    padding-top: 2%;
    font-size: 15px;
    color: #044759;
}

#secondblock #right #bulles {
    font-family: Gotham-Bold;
    text-align: center;
    font-size: 30px;
    color: #ef790f;
    float: left;;
    height: inherit;
    position: relative;;
}

#secondblock #right #bulles1 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 2;
    position: absolute;
    top: 26%;
    left: 50%;
}

#secondblock #right #bulles2 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 61%;
    z-index: 2;
}

#secondblock #right #bulles3 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 93%;
    z-index: 2;
}

#secondblock #right #bulles4 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 122%;
    z-index: 2;
}

#secondblock #right #bulles5 {
    border: 4px solid #ef790f;
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 149%;
    z-index: 2;
}

#secondblock #right #bulles li span {
    text-align: center;;
    position: absolute;;
    top: 50%;;
    left: 50%;;
    -webkit-transform: translate(-50%, -50%);;
            transform: translate(-50%, -50%);
}

#secondblock #right #premier {
    padding-left: 11em;
    padding-top: 9em;
    padding-right: 2em;
}

#secondblock #right #deuxieme{
    padding-top: 4em;
    padding-left: 11em;
    padding-right: 2em;
}

#secondblock #right #troisieme{
    padding-top: 4em;
    padding-left: 11em;
    padding-right: 2em;
}

#secondblock #right #quatrieme {
    padding-top: 4em;
    padding-left: 11em;
    padding-right: 2em;
}

#secondblock #right #cinquieme {
    padding-top: 4em;
    padding-left: 11em;
    padding-bottom: 3em;
    padding-right: 2em;
}

/* FOOTER */

footer {
    position: absolute;
    top: 1190px;
    height: 270px;
    width: 100%;
    background-color: #044759;
}

#left-block {
   width: 50%;
   float: left;
}

#right-block {
   float: right;
   width: 50%;
}

#mention {
   float: left;
   width: 36%;
   height: 225px;
   border-right: solid 1px white;
   margin-top: 40px;
}

#mention p {
   text-align: center;
   font-family: Gotham-Medium;
   font-size: 20px;
   color: #ef7915 ;
   line-height: 28px;
   padding-top: 18px;
}

#mention a {
   text-align: center;
   font-family: Gotham-Light;
   color: white;
   font-size: 13px;
   text-decoration: underline;
}

#socialfooter {
   float: left;
   margin-top: 80px;
}

#socialfooter ul {
   list-style-type: none;
   text-align: center;
   font-size: 16px;
   color: white;
   margin-left: 15px;
   font-family: Gotham-Medium;
}

#socialfooter li img {
   margin-top: 30px;
   margin-right: 15px;
}

#img-social-footer ul li:last-child img:first-child {
    width: 53px;
    margin-left: 14px;
}

#img-social-footer ul li:last-child img:last-child {
    width: 53px;
    margin-left: 8px;
}

#img-footer li img {
  width: 2.5em;
}

#localisation {
   float: left;
   margin-top: 40px;
   margin-left: 25px;
   color: white;
   font-family: roboto;
}

#localisation ul {
   list-style-type: none;
}

#img-footer{
   float: left;
}

#img-footer li {
   margin-top: 20px; 
}

#localisation h4{
   font-family: Gotham-Medium;
   margin-bottom: 25px;
   font-size: 22px;
}

#contact{
   font-family: Roboto;
   font-weight: bold;
   line-height: 60px;
   margin-top: 10px;
   margin-left: 50px;
   font-size: 15px;  
}

#contact a:first-child {
    font-family: Roboto-Bold;
    text-decoration: none;
    color: #fff;;
    font-size: 18px;
}

#contact a:last-child {
    font-family: Roboto-Bold;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}