/*==========================================================================
#title            : SILVER ACT'S WEBSITE
#description      : Silver Act Fonctionnement Page
#author           : Brieuc CAILLOT, Eva PAMFIL, Anthony DUPRÉ
#date             : 2017 02 19
#version          : V2
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/

* {
    padding: 0; 
    margin: 0;
}


body{
    background-color: #fff;  
}

/* POLICES */

/* GOTHAM */

@font-face {
    font-family: "Gotham-Light";
    src: url(../polices/Gotham/Gotham-Light.otf),
    url("../polices/Gotham/Gotham-Light.eot") format("eot"),
    url("../polices/Gotham/Gotham-Light.woff") format("woff"),
    url("../polices/Gotham/Gotham-Light.ttf") format("truetype");
}

/* FIRSTBLOCK - HEADER */

#firstblock {
    height: 100%;
}

header{
    width: 100%;
    height: 95px;
    position: relative;
    background-color: white;
    padding: 10px 0 10px 0;
} 

#contentheader {
    width: 85%;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
}


#contentheader {
    width: 75%;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}

#logo {
    float: left;
    width: 15%;
    height: 95px;
    position: relative;
}


#logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%); */
    transform: translateX(-50%) translateY(-50%);
    width: 70%;


}

#menu {
    width: 70%; 
    height: 100%; 
    position: absolute;

    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); 

}
/* NAV MENU */



#navigation {
    width: 100%; 
    position: absolute; 
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#navigation nav {
    position: relative;
}

#navigation ul li {
    display: table-cell; 
    list-style: none; 
    height: 100%;
    width: 1%;
}

#navigation ul li a {
    color: #148fad;
    text-decoration: none;
    font-family: "Gotham-Light", sans-serif;
    text-align: center;
    display: block;
    padding-top: 23px; 
    padding-bottom: 23px; 
    font-size: 14px;
}

#navigation ul li a:focus {
    font-family: "Gotham-light", sans-serif;
}

#navigation ul li a:hover {
    color: white; 
}

#navigation ul li:nth-child(4) a {
  background-color : #148fad;
  font-family : Gotham-Medium;
  color : #fff;
}

/* SWIPER TON RIGHT li */

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #148fad;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* RESEAUX SOCIAUX */

#head-contact {
    float: right;
    width: 15%;
    height: 100%;
    position: relative; 
}

#img-head {
    width: 90%;
    height: auto;
    margin: 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#img-head img {
    width: 100%;
}

#img-head>a {
    margin-right: 13%; 
}

/* SECONDBLOCK */

#secondblock {
    position: relative;
    width: 100%;
    height: 46em;
    margin-top: 7em;  
}

#secondblock #left {
    width: 45%;
    height: inherit;
    position: relative;
    float: left;  
}

#content {
  width: 75%;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
}

#secondblock #left {
    width: 45%;
    height: inherit;
    position: relative;

}

#secondblock #left h1{
    font-family: Gotham-Light, sans-serif;
    color: #148fad;
    font-size: 35px;  
}


#secondblock #left h2{
    font-family: "Gotham-Light", sans-serif;
    color: #148fad;
    font-size: 20px;
    margin-top: 9%;
    line-height: normal;  
}

#secondblock #left p{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    line-height: 24px;
    width: 80%;
    color: #044759;
    margin-top: 2%;  
}

#secondblock #left a span {
    color: #ef7915;
    font-weight: bold;
    text-decoration: underline;
}

#secondblock #right{
    background: url("../images/secondblock/fonctionnement.png") no-repeat;
    background-size: cover;
    background-position: 20%;
    width: 55%;
    height: 100%;
    position: relative;
    float: left;  
}

#secondblock #right h2{
    font-family: "Gotham-Medium", sans-serif;
    color: #148fad;
    font-size: 27px;
    line-height: 31px;  
}

#secondblock #right p{
    line-height: 21px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 2%;
    font-size: 15px;
    color: #148fad;  
}

#secondblock #right img {
    width: auto;
    height: 100%;
    /* margin-top: 6%; */;
}

/* FOURTHBLOCK - FOOTER */

footer {
    position: absolute;
    top: 1010px;
    width: 100%; 
    height: 250px;
    background-color: #efe6dc;
}

footer p {
    color: #148fad;
    font-family: 'Quicksand', sans-serif;
}

footer a {
    font-family: 'Quicksand', sans-serif;
    color: #148fad;
}

#left-block{
    width: 50%; 
    height: 100%;
    float: left; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

.section{
    width: 33%; 
    height: auto; 
}

#deduction {
    text-align: center;
    height: 80%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%);
    top: 50%;
    position: relative;
    border-right: 1px solid #044779;
}

.text {
    top: 50%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%); 
    position: relative; 
}

#deduction a{
    font-size: 14px; 
}

#deduction p{
    margin-bottom: 12px; 
    color: #ef7915;
}

#contact {
    text-align: center;
    border-right: 1px solid #044779;
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#contact h2 {
    font-family: Gotham-Light;
    margin-bottom: 18px;
    color: #ef7915;
}

#contact p {
    margin-bottom: 13px; 
}

#contact ul li {
    list-style: none; 
}

#contact ul li:last-child {
    margin-top: 10px;
}

#contact ul li img {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
}

#phone {
    width: 15px; 
}

#mail {
    width: 20px; 
}

#contact ul li a {
    text-decoration: none; 
    margin-left: 8px; 
}

#social {
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}

#social p {
    margin-bottom: 15px;
}

#social img {
    height: 33px;
    padding: 10px;
}


#right-block{
    width: 50%; 
    height: 100%; 
    float: right;
}




/************** RESPONSIVE ***************/

/* RESPONSIVE LAPTOP */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
  {
  
  }


/* RESPONSIVE PHONE */

@media only screen and (min-device-width : 768px) and (max-device-width : 768px)
  {

  }