/*==========================================================================
#title            : SILVER ACT'S WEBSITE
#description      : Silver Act Home Page
#author           : Brieuc CAILLOT, Eva PAMFIL, Anthony DUPRÉ
#date             : 2017 02 19
#version          : V2
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    box-sizing: content-box; /* Opera/IE 8+ */
    -moz-box-sizing: content-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: content-box; /* Safari/Chrome, autres WebKit */
}

/* POLICES */

/* GOTHAM */

@font-face {
    font-family: "Gotham-Light";
    src: url(../polices/Gotham/Gotham-Light.otf),
    url("../polices/Gotham/Gotham-Light.eot") format("eot"),
    url("../polices/Gotham/Gotham-Light.woff") format("woff"),
    url("../polices/Gotham/Gotham-Light.ttf") format("truetype");
}

/* FIRSTBLOCK - HEADER */

#firstblock {
    height: 100%;
}

header{
    width: 100%;
    height: 95px;
    position: relative;
    background-color: white;
    padding: 10px 0 10px 0;
} 

#content {
    width: 75%;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
}

#logo {
    float: left;
    width: 15%;
    height: 95px;
    position: relative;
}


#logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%); */
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
}

#menu {
    width: 70%; 
    height: 100%; 
    position: absolute;

    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); 
}
/* NAV MENU */



#navigation {
    width: 100%; 
    position: absolute; 
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#navigation nav {
    position: relative;
}

#navigation ul li {
    display: table-cell;
    width: 1%;
    list-style: none;
    height: 100%;
}

#navigation ul li a {
    text-decoration: none;
    font-family: "Gotham-Light", sans-serif;
    text-align: center;
    display: block;
    padding-top: 23px; 
    padding-bottom: 23px; 
    font-size: 14px;
    color: #148fad;
}

#navigation ul li a:focus {
    font-family: "Gotham-light", sans-serif;
}

#navigation ul li a:hover {
    color: white; 
}


/* SWIPER TON RIGHT li */

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #148fad;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* RESEAUX SOCIAUX */

#head-contact {
    float: right;
    width: 15%;
    height: 100%;
    position: relative; 
}

#img-head {
    width: 90%;
    height: auto;
    margin: 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#img-head img {
    width: 100%;
}

#img-head>a {
    margin-right: 13%; 
}

/* First BLOCK - VIDEO */

#presentation {
    position: relative;
    background: url(../images/firstblock/photohome-2.jpg) no-repeat;
    background-size: 100%;
    height: auto;
    margin-bottom: 100px;

}

#presentation h1 {
    font-family: "Gotham-light", sans-serif;
    font-size: 21px;
    line-height: 28px;
    text-align: left;
    color: white;
    position: absolute;
    top: 56%;
    left: 15%;
    z-index: 20;
    z-index: 20;
}

#presentation button {
    font-family: "Gotham-light", sans-serif;
    z-index: 20;
    position: absolute;
}


/*SCROLL*/

#scroll {
    position: absolute;
    top: 74%;
    left: 15%;
    width: 16px;
    height: auto;
    z-index: 100;
}

#scroll p {
    color: white;
    font-family: "Gotham-light", sans-serif;
    font-size: 16px;
    position: absolute;
    margin-left: 23px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 200px;
    line-height: normal;
}



#circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #ef7915;
    top: 0px;
    position: absolute;
    -webkit-animation: circle-scroll 1s infinite;
    animation: circle-scroll 1s infinite;
}

#line {
    width: 2px; 
    height: 55px; 
    background: #ef7915;
    margin: 0 auto; 

}



#play img {
    width: 12px;
    height: auto;
    top: 10px;
    position: absolute;
    left: 15px;
}

#circle-play{
    position: relative;
    height: 40px;
    width: 40px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: -35px;

}
.text-play{    
    display: inline-block;
    font-size: 28px;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915 ;
    margin-left: 55px;
    height: 35px;
}

#button-play {
    position: absolute;
    top: 74%;
    left: 32%;
    z-index: 100;
    display: inline-block;
    height: 63px;
}

/*VIDEO BLOCK*/
#video {
    background: whitesmoke;
    height: 0%;
    width: 100%;
    display: none; 
}

.open {
    -webkit-animation: height-video 1s forwards ease;
    animation: height-video 1s ease forwards;
}

#video video {
    top: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

#quit {
    position: absolute;
}

#video img {
    width: 1.5%;
    position: absolute;
    left: 96%;
    top: 2%;
}

.close {
    -webkit-animation: close-video 1s forwards ease;
    animation: close-video 1s ease forwards;
}

/* THIRDBLOCK*/ 

#thirdblock {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

#thirdblock h2{
    color: #148fad;
    font-family: Gotham-Light, sans-serif;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  
}

.card {
    height: 530px;
    width: 390px;
    border: solid 1.5px #e6e6e6;
    border-radius: 10px;
    
    position: relative;
    box-shadow: 10px 10px 20px #e6e6e6;  
    
}
.a-top{
    margin: 5px;
    width: 30px;
}
.liste{
    list-style: none;
    text-align: center;
} 
.liste li{
    font-size: 25px;
    color: #148fad;
    font-family: Gotham-light, sans-serif;
    
}
.small {
    height: auto;
    width: 25px;
    
}
.title {
    font-family: Gotham-Light, sans-serif;
    font-size: 25px;
    color: #148fad;
    text-align: center;
   
    line-height: 25px;
    font-weight: normal;
    margin-top: -15px;
}
.card .picto {
    height: 285px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.text{
    text-align: center;
    font-family: Quicksand; 
    margin-top: 315px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    line-height: 18px;
    color: #044759;
}
.button-orange{
    width: 180px;
    height: 25px;
    margin: 50px auto;
    margin-top: -0.1px;
    padding-left: 10px;
    
    
}
 .button-more{
    display: inline;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
    width: 180px; 
    height: 26px; 
    text-decoration: none;

}
        
.text-more1 {
    display: inline;
    font-size: 17px;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
    margin-left: 33px;
}
        
        
.fleche-left {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
        
.fleche-left:hover {
    -webkit-animation: width 0.5s forwards ease;
    animation: width 0.5s ease forwards;
}
        



.fleche-left img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}


.a-down{
    position:absolute;
    margin: 5px;
    width: 30px;
    left: 340px;
    top: 460px;
}


#first-card{
    position: relative;
    margin: 0px auto;
    width: 1200px;
    height: 610px;
    overflow: hidden;
    padding-top: 50px;
}

#second-card{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 610px;
    overflow: hidden;
    padding-top: 60px;
}

#card-peak{
    position: absolute;
    left: -50%;
    width: 390px;
    float: left;
    transform:rotate(-10deg); 
-ms-transform:rotate(-10deg); /* Internet Explorer */
-moz-transform:rotate(-10deg); /* Firefox */
-webkit-transform:rotate(-10deg); /* Safari et Chrome */ 
-o-transform:rotate(-10deg); /* Opera */
}


#card-heart{
    position: absolute;
    float: right;
    right: -50%;
    transform:rotate(5deg); 
-ms-transform:rotate(5deg); /* Internet Explorer */
-moz-transform:rotate(5deg); /* Firefox */
-webkit-transform:rotate(5deg); /* Safari et Chrome */ 
-o-transform:rotate(5deg); /* Opera */
}

#card-clover{
    position: absolute;
    left: -50%;
    width: 390px;
    float: left;
    transform:rotate(10deg); 
-ms-transform:rotate(10deg); /* Internet Explorer */
-moz-transform:rotate(10deg); /* Firefox */
-webkit-transform:rotate(10deg); /* Safari et Chrome */ 
-o-transform:rotate(10deg); /* Opera */
}

#card-tile{
    position: absolute;
    float: right;
    right: -50%;

    transform:rotate(-10deg); 
-ms-transform:rotate(-10deg); /* Internet Explorer */
-moz-transform:rotate(-10deg); /* Firefox */
-webkit-transform:rotate(-10deg); /* Safari et Chrome */ 
-o-transform:rotate(-10deg); /* Opera */
    
}
 

/*BIG CARD PEAK*/
#big-card-peak{
    width: 1100px;
    height: 530px;
    display: none;
}
/*BIG CARD HEART*/
#big-card-heart{
    display: none;
}
/*BIG CARD CLOVER*/
#big-card-clover{
    display: none;
}
/*BIG CARD TILE*/
#big-card-tile{
    display: none;
}

/*BIG CARD*/
.big-img{
    width: auto;
    height: 530px;
    float: left;
}
.big-card-text{
    height: 175px;
    width: 420px;
    float: left;
    font-family: Quicksand;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 40px;
    line-height: 18px;
    color: #044759;
    
}
.big-card-text h3{
    font-family: Gotham-Light, sans-serif;
    color: #148fad;
    font-size: 22px;
}
.big-card-text h4{
    font-family: Gotham-Light, sans-serif;
    color: #148fad;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 17px;
}
.big-card-text span{
    color:  #ef7915
}
.more{
    font-size: 28px;
    margin-left: 200px;
}
.big-card-place{
    margin-left: 40px;
    float: left;
    width: 420px;
    
}
.place-text{
    float: left;
    line-height: 21px;
    margin-left: 60px;
    margin-top: 12px;
    font-family: Gotham-Light , sans-serif;
    color: #ef7915;
    font-family: 16px;
}
#place-text-heart{
    margin-top: 0px;
}
.place{
    float: left;
    height: 80px;
    width: auto;
}

.price{
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    width: 100px;
    height: auto;
}
.price-text{
    color: #148fad;
    font-family: gotham-light, sans-serif;
    font-size: 14px;
    line-height: normal;
}
.price span{
    font-family: gotham-light, sans-serif;
    font-size: 28px;
    line-height: 40px;
    color: #148fad;
    
}

 /*BUTTON : BACK*/



.button-back-orange{
    float: left;
    margin-top: 12px;
    width: 90px;
    height: 25px;
   
 
    
}

.button-back{
            display: inline;
            text-align: center;
            font-family: Gotham-light, sans-serif;
            color: #ef7915;
        }
        
        .text-back1 {
            margin-right: 35px;
            display: inline;
            font-size: 17px;
            text-align: center;
            font-family: Gotham-light, sans-serif;
            color: #ef7915;
            
        }
        
        .fleche-right {
           position: relative;
           height: 25px;
           width: 25px;
           border: solid 2px #ef7915;
           border-radius: 25px;
           margin-bottom: -25px;
           float: right;
            margin-top: -5px;
        }
        
        .fleche-right:hover {
           -webkit-animation: width-right 0.5s forwards ease;
           animation: width-right 0.5s ease forwards;
        }
        

       

        .fleche-right img {
           position: absolute;
           height: 12px;
           width: auto;
           top : 50%;
           left : 12px;
           margin-top : -6px;
           margin-left : -4px;
        }

/*BIG CARD JOKER*/
       
.joker{
    position: relative;
    float: right;
    width: 250px;
    height: 250px;
    margin-top: -8px;
    margin-right: 35px;
    border: solid 2px #e6e6e6;
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}
.small-joker{
    margin: 10px;
    height: 45px;
    width: auto;
}
.big-joker{
    width: auto;
    left: 50%;
    height: 90px;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 15px; 
}

.select{
    text-align: center;
    color: #ef7915;
    margin-top: 50px;
    font-family: Gotham-light , sans-serif;
}
.joker label{
    text-align: center;
}

fieldset {
    border: none; 
}

.button-radio  div{
    margin: 10px 0px;
}
.button-radio  .label-radio{
    position : relative;
    margin-left: 5px;
    font-family: Quicksand; 
    color : #044759;
    font-size: 15px;
   
 }
.exits{
    margin-left: 45px;
} 




/* NEWS */

#news{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px
}

#news h2 {
    color: #148fad;
    font-family: Gotham-Light, sans-serif;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

#news h4{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ef7915;
    font-family: Gotham-Light, sans-serif;
    font-size: 24px;
    line-height: normal; 

}

#email{
    position: absolute;
    width: 460px;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
   margin-top: 15px;
  
}

#email input{
    height: 40px;
    float: left;
    width: 400px;
    border: solid 2px #e6e6e6;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}

#email button {
    height: 40px;
    width: 60px;
    float: left;
    background-color: #148fad;
    border: solid 2px #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
   
}

#email button:hover{
    background-color: #044759;

}

#email button:focus{
    background-color: #044759;
}

#email img{
    height: 25px;
    width: auto;
}

#news-iframe{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
}

#new1{
    margin-right: 15px;
    width: 544px;
}

#new1 img{
    width: 544px;
    height: 300px;
}

#new1 audio {
    width: 544px;
}

#new2{
    margin-left: 15px;
}

#new1 h3{
    font-family: Gotham-Light, sans-serif;
    color: #148fad;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: normal;
}

#new2 h3{
     font-family: Gotham-Light, sans-serif;
    color: #148fad;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: normal;
}

#new1 span{
    font-family: Gotham-Light, sans-serif;
    color: #ef7915;
}

#new1 p{
    font-family: Quicksand;
    line-height: 25px;
}

#new2 span{
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
}

#new2 p{
    font-family: Quicksand;
    line-height: 25px;
}

#button-news{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    margin-top: 50px;
}

#text-button-news{
    margin-left: 10px;
}

#div-button-news{
    width: 250px;
}
/*Button new*/
 #fleche-left {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
 #fleche-left img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}
#lien-blog{
    text-decoration: none;
    
}
        
#fleche-left:hover {
    -webkit-animation: width-new 0.5s forwards ease;
    animation: width-new 0.5s ease forwards;
}
        


/* FOURTHBLOCK - FOOTER */

footer {
    width: 100%; 
    height: 250px;
    background-color: #efe6dc;
}

footer p {
    color: #148fad;
    font-family: 'Quicksand', sans-serif;
}

footer a {
    font-family: 'Quicksand', sans-serif;
    color: #148fad;
}

#left-block{
    width: 50%; 
    height: 100%;
    float: left; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

.section{
    width: 33%; 
    height: auto; 
}

#deduction {
    text-align: center;
    height: 80%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%);
    top: 50%;
    position: relative;
    border-right: 1px solid #044779;
}

.text-footer {
    top: 50%; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%); 
    position: relative; 
}

#deduction a{
    font-size: 14px; 
}

#deduction p{
    margin-bottom: 12px; 
    color: #ef7915;
}

#contact {
    text-align: center;
    border-right: 1px solid #044779;
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#contact h2 {
    font-family: Gotham-Light , sans-serif;
    margin-bottom: 18px;
    color: #ef7915;
}

#contact p {
    margin-bottom: 13px; 
}

#contact ul li {
    list-style: none; 
}

#contact ul li:last-child {
    margin-top: 10px;
}

#contact ul li img {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
}

#phone {
    width: 15px; 
}

#mail {
    width: 20px; 
}

#contact ul li a {
    text-decoration: none; 
    margin-left: 8px; 
}

#social {
    height: 80%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    text-align: center;
}

#social p {
    margin-bottom: 15px;
}

#social img {
    height: 33px;
    padding: 10px;
}

#right-block{
    width: 50%; 
    height: 100%; 
    float: right;
}
/*ANIMATION CARD*/


.animate_card{
    -webkit-animation: card-rotate 0.5s forwards;
}


.animate_card1{
    -webkit-animation: card-rotate1 0.5s forwards;
}


.animate_card2{
    -webkit-animation: card-rotate2 0.5s forwards;
}
/*ANIMATION SCROLL*/

.animate-left{
    -webkit-animation: deplacement 0.5s forwards;
            animation: deplacement 0.5s forwards;
}


.animate-right{
    -webkit-animation: deplacement-coeur 0.5s forwards;
            animation: deplacement-coeur 0.5s forwards;
}

#social p {
    margin-bottom: 15px;
}

#social img {
    height: 33px;
    padding: 10px;
}


/*ANIMATION DEPLACEMENT TRANSITION SMAL CARD*/
.animate-mouve-small-card{
    -webkit-animation: mouve-small-card  0.5s forwards;
            animation: mouve-small-card 0.5s forwards;
}

/* KEYFRAMES */ 

@keyframes animationFrames{
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
            transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
            transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
            transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}



@-webkit-keyframes card-rotate2 {
    0%{-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    20%{-webkit-transform: rotate(4deg);transform: rotate(4deg);}
    40%{-webkit-transform: rotate(3deg);transform: rotate(3deg);}
    60%{-webkit-transform: rotate(2deg);transform: rotate(2deg);}
    80%{-webkit-transform: rotate(1deg);transform: rotate(1deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@-webkit-keyframes card-rotate {
    0%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
    20%{-webkit-transform: rotate(-8deg);transform: rotate(-8deg);}
    40%{-webkit-transform: rotate(-6deg);transform: rotate(-6deg);}
    60%{-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}
    80%{-webkit-transform: rotate(-2deg);transform: rotate(-2deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@-webkit-keyframes card-rotate1 {
    0%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
    20%{-webkit-transform: rotate(8deg);transform: rotate(8deg);}
    40%{-webkit-transform: rotate(6deg);transform: rotate(6deg);}
    60%{-webkit-transform: rotate(4deg);transform: rotate(4deg);}
    80%{-webkit-transform: rotate(2deg);transform: rotate(2deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@-webkit-keyframes width {
    from {width: 25px;}
    to {width: 180px;}
}

@-webkit-keyframes width-play {
    from {width: 25px;}
    to {width: 90px;}

}
 @-webkit-keyframes width-right {
           from {width: 25px;}
           to {width: 110px;}
        }
@-webkit-keyframes width-new {
    from {width: 25px;}
    to {width: 250px;}
}
@-webkit-keyframes circle-scroll {
    0%{top: 0px;}

    100%{top: 55px;}
}
@-webkit-keyframes height-video {
    from {height: 0%;}
    to {height: 100%;}
}
@-webkit-keyframes close-video {
    from {height: 100%;}
    to {height: 0%;}
}
@-webkit-keyframes deplacement {
    from{left: -50%;
        position: absolute;
    }
    to{left: 100px;
    position: relative;}
}
@-webkit-keyframes deplacement-coeur {
    from{right: -50%;
    position: absolute;
    }
    to{right: 100px;
    position: relative;}
}

@-webkit-keyframes mouve-small-card {
    from{left: 5%;}
    to{left: 710px;}
}

.swiper-container {
        height: auto;
        width: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .swiper-slide img {
        width: 100%;
    }




/************** RESPONSIVE ***************/

/* RESPONSIVE LAPTOP */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
  {
  
  }


/* RESPONSIVE PHONE */

@media only screen and (min-device-width : 768px) and (max-device-width : 768px)
  {

  }

