/*==========================================================================
#title            : SILVER ACT'S WEBSITE
#description      : Silver Act Home Page
#author           : Brieuc CAILLOT, Eva PAMFIL, Anthony DUPRÉ
#date             : 2017 02 19
#version          : V2
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    box-sizing: content-box; /* Opera/IE 8+ */
    -moz-box-sizing: content-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: content-box; /* Safari/Chrome, autres WebKit */
}

/* POLICES */

/* GOTHAM */

@font-face {
    font-family: "Gotham-Light";
    src: url(../polices/Gotham/Gotham-Light.otf),
    url("../polices/Gotham/Gotham-Light.eot") format("eot"),
    url("../polices/Gotham/Gotham-Light.woff") format("woff"),
    url("../polices/Gotham/Gotham-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url(../polices/Gotham/Gotham-Medium.otf),
    url("../polices/Gotham/Gotham-Medium.eot") format("eot"),
    url("../polices/Gotham/Gotham-Medium.woff") format("woff"),
    url("../polices/Gotham/Gotham-Medium.ttf") format("truetype");
}

/* ROBOTO */

@font-face {
    font-family: "Roboto-Bold";
    src: url(../polices/Roboto/Roboto-Bold.otf),
    url("../polices/Roboto/Roboto-Bold.eot") format("eot"),
    url("../polices/Roboto/Roboto-Bold.woff") format("woff"),
    url("../polices/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../polices/Roboto/Roboto-Regular.otf),
    url("../polices/Roboto/Roboto-Regular.eot") format("eot"),
    url("../polices/Roboto/Roboto-Regular.woff") format("woff"),
    url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
}

/* FIRSTBLOCK - HEADER */

#firstblock {
    position: relative;
}

header{
    width: 100%; 
    height: 126px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute; 
    top: 0px;
    z-index: 90;
} 

#video {
    width: 100%;
    z-index: 2;
}

#logo {
    float: left; 
    width: 15%; 
    height: 126px; 
    position: relative; 
}

#logo img {
    position: absolute;
    top: 50%; 
    left: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%); 
            transform: translateX(-50%) translateY(-50%); 
    width: 65%; 
}

#menu {
    width: 70%; 
    height: 100%; 
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); 
}

#telephone {
    width: 2em;
    padding: 1em;
}

#telephone p {
    font-family: "Roboto-Bold", sans-serif;
    color: #ef7915;
    font-size: 18px;
    width: 7em;
    position: absolute;
    top: 1.3em;
    left: 3.3em;
    float: left;
}

#mail {
    float: right;
    width: 11.7em;
    position: absolute;
    right: 1%;
    top: 10%;
    height: 2em;
}

#mail p {
    font-family: "Roboto-Bold", sans-serif;
    color: #ef7915;
    font-size: 18px;
    width: 8em;
    position: absolute;
    top: 0.4em;
    right: 0em;;
}

#mail img {
    width: 2em;
}

/* NAV MENU */


#navigation {
    width: 99.9%; 
    height: 48%;
    bottom: 0px; 
    margin-top: 2px;
}

#navigation nav {
    position: relative;
}

#navigation ul li {
    display: table-cell; 
    list-style: none; 
    height: 100%;
    width: 1%;
    position: relative; 
    margin-left: -2px;
    box-sizing: border-box;
}

#navigation ul li a {
    color: #148fad;
    text-decoration: none;
    font-family: "Gotham-Light", sans-serif;
    text-align: center;
    display: block;
    padding: 22px; 
}

#navigation ul li a:focus {
    font-family: "Gotham-Medium", sans-serif;
}

#navigation ul li a:hover {
    color: white; 
}

/* SWIPER TON RIGHT li */

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #148fad;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* RESEAUX SOCIAUX */

#social {
    float: right; 
    width: 15%; 
    height: 127px; 
    position: relative;
}

#img-social {
    width: 50%; 
    height: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    -webkit-transform: translateX(-50%) translateY(-50%); 
            transform: translateX(-50%) translateY(-50%); 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

#img-social img {
    width: 100%;
}

#img-social>a:first-child {
    margin-right: 12%; 
}

/* SECOND BLOCK - DESCRIPTION */

#secondblock {
    height: 49em;
    position: relative;
}

#secondblock h1 {
    font-family: "Gotham-Light", sans-serif;
    font-size: 55px;
    line-height: 72px;
    text-align: center;
    color: #ef7915;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 20em;
}

#secondblock img {
    position: absolute;
    top: 76%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 3%;
}

/* ANIMATION CSS */

.element-animation{
  animation: animationFrames linear 2s infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 2s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 2s infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 2s infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 2s infinite;
  -ms-transform-origin: 50% 50%;
}

#thirdblock {
  position: relative;
  width: 100%;
  height: auto;
}

#thirdblock h2{
    color: #148fad;
    font-family: gotham-medium;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  
}

.carte {
    height: 530px;
    width: 390px;
    border: solid 2px #e6e6e6;
    border-radius: 10px;
    
    position: relative;
    box-shadow: 10px 10px 20px #b9b9b9 ; 
    
}
.a-top{
    margin: 5px;
    width: 30px;
}
.liste{
    list-style: none;
    text-align: center;
} 
.liste li{
    font-size: 25px;
    color: #148fad;
    font-family: Gotham-Medium;
    
}
.small {
    height: auto;
    width: 25px;
    
}
.titre {
    font-family: Gotham-Medium;
    font-size: 25px;
    color: #148fad;
    text-align: center;
   
    line-height: 25px;
    font-weight: normal;
    margin-top: -15px;
}
.carte .picto {
    height: 285px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.texte{
    text-align: center;
    font-family: roboto; 
    margin-top: 315px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    line-height: 18px;
}
.boutton{
    width: 180px;
    height: 25px;
    margin: 50px auto;
    margin-top: -0.1px;
    padding-left: 10px;
    
    
}
 .boutton-plus{
    display: inline;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
    width: 180px; 
    height: 25px; 
     text-decoration: none;
}
        
.texte-plus1 {
    display: inline;
    font-size: 17px;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: #ef7915;
    background-color: white;
    margin-left: 35px;
    
}
        
.texte-plus2 {
    font-size: 17px;
    text-align: center;
    font-family: Gotham-light, sans-serif;
    color: white;
    margin-top: 3px;
}
        
.fleche-left {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
        
.fleche-left:hover {
    -webkit-animation: width 0.5s forwards ease;
    animation: width 0.5s ease forwards;
}
        

@-webkit-keyframes width {
    from {width: 25px;}
    to {width: 180px;}
}

.fleche-left img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}


.a-down{
    position:absolute;
    margin: 5px;
    width: 30px;
    left: 340px;
    top: 460px;
}


#first-card{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 610px;
    overflow: hidden;
    padding-top: 50px;
}

#second-card{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 610px;
    overflow: hidden;
    padding-top: 60px;
}

#carte-pic{
    position: absolute;
    left: -50%;
    width: 390px;
    float: left;
    transform:rotate(-10deg); 
-ms-transform:rotate(-10deg); /* Internet Explorer */
-moz-transform:rotate(-10deg); /* Firefox */
-webkit-transform:rotate(-10deg); /* Safari et Chrome */ 
-o-transform:rotate(-10deg); /* Opera */
}

.rotate-carte{
    transform:rotate(0deg); 
-ms-transform:rotate(0deg); /* Internet Explorer */
-moz-transform:rotate(0deg); /* Firefox */
-webkit-transform:rotate(0deg); /* Safari et Chrome */ 
-o-transform:rotate(0deg); /* Opera */
}

#carte-coeur{
    position: absolute;
    float: right;
    right: -50%;
    transform:rotate(5deg); 
-ms-transform:rotate(5deg); /* Internet Explorer */
-moz-transform:rotate(5deg); /* Firefox */
-webkit-transform:rotate(5deg); /* Safari et Chrome */ 
-o-transform:rotate(5deg); /* Opera */
}

#carte-treffle{
    position: absolute;
    left: -50%;
    width: 390px;
    float: left;
    transform:rotate(10deg); 
-ms-transform:rotate(10deg); /* Internet Explorer */
-moz-transform:rotate(10deg); /* Firefox */
-webkit-transform:rotate(10deg); /* Safari et Chrome */ 
-o-transform:rotate(10deg); /* Opera */
}

#carte-carreau{
    position: absolute;
    float: right;
    right: -50%;

    transform:rotate(-10deg); 
-ms-transform:rotate(-10deg); /* Internet Explorer */
-moz-transform:rotate(-10deg); /* Firefox */
-webkit-transform:rotate(-10deg); /* Safari et Chrome */ 
-o-transform:rotate(-10deg); /* Opera */
    
}
 
/*ANIMATION*/

.animate_card{
    -webkit-animation: card-rotate 0.5s forwards;
}

@-webkit-keyframes card-rotate {
    0%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
    20%{-webkit-transform: rotate(-8deg);transform: rotate(-8deg);}
    40%{-webkit-transform: rotate(-6deg);transform: rotate(-6deg);}
    60%{-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}
    80%{-webkit-transform: rotate(-2deg);transform: rotate(-2deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
.animate_card1{
    -webkit-animation: card-rotate1 0.5s forwards;
}

@-webkit-keyframes card-rotate1 {
    0%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
    20%{-webkit-transform: rotate(8deg);transform: rotate(8deg);}
    40%{-webkit-transform: rotate(6deg);transform: rotate(6deg);}
    60%{-webkit-transform: rotate(4deg);transform: rotate(4deg);}
    80%{-webkit-transform: rotate(2deg);transform: rotate(2deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
.animate_card2{
    -webkit-animation: card-rotate2 0.5s forwards;
}

@-webkit-keyframes card-rotate2 {
    0%{-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    20%{-webkit-transform: rotate(4deg);transform: rotate(4deg);}
    40%{-webkit-transform: rotate(3deg);transform: rotate(3deg);}
    60%{-webkit-transform: rotate(2deg);transform: rotate(2deg);}
    80%{-webkit-transform: rotate(1deg);transform: rotate(1deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

/*BIG CARD PIC*/
.big-img{
    width: auto;
    height: 530px;
    float: left;
}
#big-card-pic{
    width: 1100px;
    height: 530px;
    display: none;
}
.big-card-text{
    height: 175px;
    width: 420px;
    float: left;
    font-family: roboto;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 40px;
    line-height: 18px;
    
}
.big-card-text h3{
    font-family: Gotham-Medium;
    color: #148fad;
    font-size: 22px;
}
.big-card-text h4{
    font-family: Gotham-Light;
    color: #148fad;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.big-card-text span{
    color:  #ef7915
}
.plus{
    font-size: 28px;
    margin-left: 200px;
}
.big-card-place{
    margin-left: 40px;
    float: left;
    width: 420px;
    
}
.place-text{
    float: left;
    line-height: 21px;
    margin-left: 60px;
    font-family: Gotham-Light;
    color: #ef7915;
    font-family: 16px;
}
.place{
    float: left;
    height: 80px;
    width: auto;
}

/**/
.price{
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    width: 100px;
    height: auto;
}
.price-text{
    color: #148fad;
    font-family: gotham-light;
    font-size: 14px;
}
.price span{
    font-family: gotham-medium;
    font-size: 28px;
    line-height: 40px;
    color: #148fad;
    
}

 /*BOUTTON : RETOUR*/



.boutton-retour{
     float: left;
    margin-top: 12px;
    width: 90px;
    height: 25px;
   
 
    
}

        .boutton-back-{
            display: inline;
            text-align: center;
            font-family: Gotham-light, sans-serif;
            color: #ef7915;
        }
        
        .texte-back1 {
            margin-right: 35px;
            display: inline;
            font-size: 17px;
            text-align: center;
            font-family: Gotham-light, sans-serif;
            color: #ef7915;
            
        }
        
        .fleche-right {
           position: relative;
           height: 25px;
           width: 25px;
           border: solid 2px #ef7915;
           border-radius: 25px;
           margin-bottom: -25px;
           float: right;  
        }
        
        .fleche-right:hover {
           -webkit-animation: width-right 0.5s forwards ease;
           animation: width-right 0.5s ease forwards;
        }
        

        @-webkit-keyframes width-right {
           from {width: 25px;}
           to {width: 110px;}
        }

        .fleche-right img {
           position: absolute;
           height: 12px;
           width: auto;
           top : 50%;
           left : 12px;
           margin-top : -6px;
           margin-left : -4px;
        }
/*CARD JOKER*/
       
.joker{
    position: relative;
    float: right;
    width: 250px;
    height: 250px;
    margin-top: -8px;
    margin-right: 35px;
    border: solid 2px #e6e6e6;
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}
.small-joker{
    margin: 10px;
    height: 45px;
    width: auto;
}
.big-joker{
    width: auto;
    left: 50%;
    height: 90px;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 15px; 
}

.select{
    text-align: center;
    color: #ef7915;
    margin-top: 50px;
    font-family: Gotham-light;
}
.joker label{
    text-align: center;
}

fieldset {
    border: none; 
}

.button-radio  input[type="checkbox"]{
    display : none;
 }
.button-radio  div{
    margin: 10px 0px;
}
.button-radio  .label-radio{
    position : relative;
    left: 20px;
    padding-left: 25px;
    margin-left : 0px;
    font-family: Roboto; 
    color : #044759;
    font-size: 15px;
   
 }
.button-radio  .label-radio:before{
    content : '';
    display : block;
    position : absolute;
    width : 15px;
    height : 15px;
    border-radius : 12px;
    border : 1px solid #a6a6a6 ;
    top : 0px;
 }
.button-radio .label-radio:after{
    content: '';
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    background-color: #148fad;
    border-radius: 15px;
 }
.button-radio  input[type="checkbox"]:checked+.label-radio:after{
    display : block;
 }
/*BIG CARD COEUR*/
#big-card-coeur{
    display: none;
}
/*BIG CARD TREFLE*/
#big-card-trefle{
    display: none;
}
/*BIG CARD CARREAU*/
#big-card-carreau{
    display: none;
}

/*ANIMATION SCROLL*/

.animate-left{
    -webkit-animation: deplacement 0.5s forwards;
            animation: deplacement 0.5s forwards;
}
@-webkit-keyframes deplacement {
    from{left: -50%;
        position: absolute;
    }
    to{left: 100px;
    position: relative;}
}

.animate-right{
    -webkit-animation: deplacement-coeur 0.5s forwards;
            animation: deplacement-coeur 0.5s forwards;
}
@-webkit-keyframes deplacement-coeur {
    from{right: -50%;
    position: absolute;
    }
    to{right: 100px;
    position: relative;}
}
/*ANIMATION DEPLACEMENT TRANSITION SMAL CARD*/
.animate-mouve-small-card{
    -webkit-animation: mouve-small-card  0.5s forwards;
            animation: mouve-small-card 0.5s forwards;
}
@-webkit-keyframes mouve-small-card {
    from{left: 5%;}
    to{left: 710px;}
}

/* NEWS */

#news{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px
}
#news h4{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ef7915;
    font-family: gotham-light;
}
#email{
    position: absolute;
    width: 460px;
    height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
   margin-top: 15px;
  
}
#email input{
    height: 40px;
    float: left;
    width: 400px;
    border: solid 2px #e6e6e6;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}
#email button {
    height: 40px;
    width: 60px;
    float: left;
    background-color: #148fad;
    border: solid 2px #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
   
}
#email button:hover{
    background-color: #044759;
}
#email button:focus{
    background-color: #044759;
}
#email img{
    height: 25px;
    width: auto;
}
#news-iframe{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    margin-top: 150px;
}
#new1{
    margin-right: 15px;
    width: 544px;
}
#new1 img{
    width: 544px;
    height: 300px;
}
#new1 audio {
    width: 544px;
}
#new2{
    margin-left: 15px;
}
#new1 h3{
    font-family: gotham-medium;
    color: #148fad;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 10px;
}
#new2 h3{
     font-family: gotham-medium;
    color: #148fad;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 10px;
}
#new1 span{
    font-family: gotham-light;
    color: #ef7915;
   
}
#new1 p{
    font-family: roboto;
    line-height: 25px;
    
}
#new2 span{
    font-family: gotham-light;
    color: #ef7915;
   
}
#new2 p{
    font-family: roboto;
    line-height: 25px;
}
#button-news{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    margin-top: 50px;
}
#text-button-news{
    margin-left: 10px;
    
}
#div-button-news{
    width: 250px;
}
/*Boutton new*/
 #fleche-left {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid 2px #ef7915;
    border-radius: 25px;
    margin-bottom: -25px;
    margin-top: 5px;
}
 #fleche-left img {
    position: absolute;
    height: 12px;
    width: auto;
    top : 50%;
    left : 12px;
    margin-top : -6px;
    margin-left : -3px;
}
#lien-blog{
    text-decoration: none;
    
}
        
#fleche-left:hover {
    -webkit-animation: width-new 0.5s forwards ease;
    animation: width-new 0.5s ease forwards;
}
        

        
@-webkit-keyframes width-new {
    from {width: 25px;}
    to {width: 250px;}
}



/* FOURTHBLOCK - FOOTER */

#fourthblock {
  position: relative;
}

footer {
    height: 270px;
    width: 100%;
    background-color: #044759;
    margin-top: 50px;
}

#left-block {
   width: 50%;
   float: left;
}

#right-block {
   float: right;
   width: 50%;
}

#mention {
   float: left;
   width: 36%;
   height: 225px;
   border-right: solid 1px white;
   margin-top: 25px;
   margin-bottom: 25px;
}

#mention p {
   text-align: center;
   font-family: Gotham-Medium;
   font-size: 20px;
   color: #ef7915 ;
   padding-top: 40px;
   line-height: 28px;
}

#mention a {
   text-align: center;
   font-family: Gotham-Light;
   color: white;
   font-size: 12px;
   text-decoration: underline;
}

#socialfooter {
   float: left;
   margin-top: 80px;
}

#socialfooter ul {
   list-style-type: none;
   text-align: center;
   font-family: Gotham-Medium;
   font-size: 16px;
   color: white;
   margin-left: 15px;
}

#socialfooter li img {
   margin-top: 30px;
   margin-right: 15px;
}

#img-social-footer ul li:last-child img:first-child {
    width: 53px;
    margin-left: 14px;
}

#img-social-footer ul li:last-child img:last-child {
    width: 53px;
    margin-left: 8px;
}

#img-footer li img {
  width: 2.5em;
}

#localisation {
   
   float: left;
   margin-top: 40px;
   margin-left: 25px;
   color: white;
   font-family: roboto;
}

#localisation ul {
   list-style-type: none;
}

#img-footer{
   float: left;
}

#img-footer li {
   margin-top: 20px; 
}

#localisation h4{
   font-family: Gotham-Medium;
   margin-bottom: 25px;
   font-size: 18px;
}

#contact{
   font-family: Roboto;
    
   font-weight: bold;
   line-height: 60px;
   margin-top: 10px;
   margin-left: 50px;
   font-size: 15px;  
}

/*IFRAME*/
.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:270px; /* your iframe height */
   top:270px;  /* your iframe height */
   margin-top:-270px;  /* your iframe height */
}

#contact a {
    text-decoration: none;
    color: white;
}




/* KEYFRAMES */ 

@keyframes animationFrames{
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
            transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
            transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
            transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
            transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}